@using FaaS.Models
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <h2>Login page</h2>

</div>

<div class="row">
    <h3>Login</h3>
    <form method="post" asp-action="Login" asp-controller="Account">
        <label>Username</label>
        @Html.TextBoxFor(m => m.UserName, new { })
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { })
        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { })
        <input type="submit" value="Login" />
    </form>
</div>

<div class="row">
    <h3>Register</h3>
    <form method="post" asp-action="Register" asp-controller="Account">
        <label>Username</label>
        @Html.TextBoxFor(m => m.UserName, new { })
        <label>Email</label>
        @Html.TextBoxFor(m => m.Email, new { })
        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { })
        <input type="submit" value="Register" />
    </form>
</div>

